

article.tweet-header {
  height: 12em;
  width: 90%;
  margin: 0, auto;
  border: solid 5px;
  margin-top: 1.5em;
  margin-left: 2.0em;
  padding-left: 1.5em;
  word-wrap: break-word;
}

#name {
  float: left;
}

.text {
  border: none;
  background: none;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 4px solid black;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: 2.3em;
  margin-bottom: 0.1em;
  width: 98%;

}

.handle {
  float: right;
  color: gray;
  margin-right: 1.5em;
}

.time {
  font-size: 16px;
  font-family: "Source Sans Pro bold", sans-serif;

}

.icon {
  word-wrap: break-word;
  float: right;
  margin-right: 1.5em;
  color: #6B00C4;
}

article.tweet-header:hover {
  box-shadow: 10px 10px #D5ADF5;
}

.fas.fa-flag:hover {
  color: #FF9898;
}

.fas.fa-retweet:hover {
  color: #FF9898;
}

.fas.fa-heart:hover {
  color: #FF9898;
}
